.nav-container {
    position: fixed;
    top: 10%;
    right: -190px;
    width: 190px;
    height: 100%;
    transition: all .5s ease-out;
    z-index: 100;
}

.pull-tab {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color: green;
    border: 5px solid black;
    position: absolute;
    left: -50px;
    top: 50px;
    overflow-x: hidden;
    transition: all .5s ease-out;
    z-index: 100;
}

.pull-tab:hover {
    cursor: pointer;
    z-index: 100;
}

.hamburger-line {
    height: 4px;
    width: 45px;
    background-color: black;
    position: relative;
    top: 25px;
    margin: 7px 15px;
}

.navbar {
    width: 190px;
    position: absolute;
    right: 0;
    height: 65%;
    padding-top: 50px;
    background-color: green;
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px 0 0 10px;
    border-right: none;
    z-index: 100;
    
}

.border-cover {
    height: 88.5px;
    width: 6px;
    position: absolute;
    top: 51px;
    background-color: green;
    right: 184px;
    transition: all .5s ease-out;
    z-index: 100;
}

.nav-item {
    font-size: 1.55rem;
    margin: 25px 0;
    background-color: green;
    border: none;
    font-weight: 550;
    text-decoration: underline;
    color: rgb(44, 44, 44);
}