body {
    background-color: rgb(44, 44, 44);
    overflow: hidden;
    position: relative;
    height: 100vh;
    
}

*:focus {
    outline: 0;
}

.start-btn {
    width: 350px;
    height: 150px;
    background-color:rgb(44, 44, 44);
    color: #e2725b;
    border: 1px solid #e2725b;
    margin: 15% auto;
    border-radius: 5px;
    z-index: 1;
    transition: opacity 1s;
    
}

.width-100-container {
    width: 100%;
    
}